.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-container input, .register-container select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  .register-container button {
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
  }
  